[submodule "site/notecards/static/notecards/cgraph"]
	path = site/notecards/static/notecards/cgraph
	url = https://github.com/pieths/cgraph.git
[submodule "site/notecards/static/notecards/mathjax"]
	path = site/notecards/static/notecards/mathjax
	url = https://github.com/pieths/MathJax.git
