[submodule "site/notecards/static/notecards/cgraph"]
	path = site/notecards/static/notecards/cgraph
	url = https://github.com/pieths/cgraph.git
[submodule "site/notecards/static/notecards/mathjax"]
	path = site/notecards/static/notecards/mathjax
	url = https://github.com/pieths/MathJax.git
[submodule "site/notecards/static/notecards/markdown/repo"]
	path = site/notecards/static/notecards/markdown/repo
	url = https://github.com/pieths/markdown-it.git
[submodule "site/notecards/static/notecards/codemirror"]
	path = site/notecards/static/notecards/codemirror
	url = https://github.com/pieths/CodeMirror.git
